$bg: rgb(149, 254, 220);
$color: #2025be;

.box {
    background-color: $bg;
    &__title {
        color: $color;
    }
    &__image {
        width: 200px;
    }
    &__svg {
        fill: red;
        &:hover {
            fill: blue;
        }
    }
}