@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$dark-orange: #cf5c0d;
$white: #FFFFFF;

$font-cormorant: 'Cormorant', serif;
$font-jost: 'Jost', sans-serif;

$r_minmob: 320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_mob_600: 600px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1120: 1120px;
$r_desk_1170: 1170px;
$r_desk_hd: 1200px;
$r_desk_1280: 1280px;
$r_desk_1350: 1350px;
$r_desk_1440: 1440px;
$r_desk_full_1750: 1750px;

html {
    font-size: 10px;
}

body {
    color: $green;
    font-size: 1.6rem;
    font-family: $font-jost;
    background-image: url(../images/bg/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    max-width: 1440px;
    margin: 0 auto 5rem;
    padding: 4rem 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    @media (max-width: $r_desk_1280) {
        gap: 3%;
    }
    &__nav-box {
        flex-grow: 1;
        margin-left: 4.5rem;
        @media (max-width: $r_desk_1280) {
            margin-left: 0;
        }
        @media (max-width: $r_desk_hd) {
            flex-grow: 0;
        }
        @media (max-width: $r_tab_900) {
            display: none;
        }
    }
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
        @media (max-width: $r_desk_hd) {
            gap: 2.5rem;
        }
    }
    &__link {
        color: $green;
        text-decoration: none;
        transition:.3s;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        font-weight: 500;
        color: $green;
        text-decoration: none;
        letter-spacing: .13rem;
        text-align: right;
        flex-basis: 200px;
        transition:.3s;
        &:hover {
            color: $orange;
        }
        @media (max-width: $r_desk_hd) {
            display: none;
        }
    }
    &__tel-m, &__menu-m {
        display: none;
    }
    &__tel-m {
        @media (max-width: $r_desk_hd) {
            display: block;
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            border: 1px solid $green;
            background-color: $white;
            background-image: url(../images/tel.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.7rem 1.5rem;
            padding: 0;
            opacity: .8;
            transition:.3s;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__cart {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        border: 1px solid $orange;
        background-color: $orange;
        cursor: pointer;
        background-image: url(../images/cart.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.7rem 1.5rem;
        position: relative;
        padding: 0;
        transition:.3s;
        @media (max-width: $r_desk_hd) {
            background-image: url(../images/cart-m.svg);
            border: 1px solid $green;
            background-color: $white;
            opacity: .8;
        }
        &:hover {
            background-color: $green;
            border: 1px solid $green;
            @media (max-width: $r_desk_hd) {
                background-color: $white;
                opacity: 1;
            }
        }
    }
    &__counter {
        font-size: .8rem;
        color: $white;
        position: absolute;
        top: .6rem;
        right: .7rem;
        @media (max-width: $r_desk_hd) {
            color: $green;
        }
    }
    &__buttons {
        @media (max-width: $r_desk_hd) {
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }
    }
    &__menu-m {
        @media (max-width: $r_tab_900) {
            display: block;
            cursor: pointer;
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            border: 1px solid $green;
            background-color: $white;
            background-image: url(../images/burger.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.7rem 1.5rem;
            padding: 0;
            opacity: .8;
            transition:.3s;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    flex-basis: 12rem;
    height: 3.2rem;
    &_footer {
        flex-basis: 18rem;
        height: 4.8rem;
        margin-top: .8rem;
        @media (max-width: $r_desk_1120) {
            margin: .8rem auto 8.8rem;
            width: 18rem;
            height: 4.8rem;
        }
        @media (max-width: $r_tab) {
            margin: .8rem auto 4rem;
        }
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: $r_tab) {
        max-width: 600px;
    }
}

.main {
    position: relative;
    padding-bottom: 10rem;
    overflow-x: hidden;
    z-index: 0;
    @media (max-width: $r_tab) {
        padding-bottom: 7.5rem;
    }
    &__item {
        max-width: 378px;
        margin-top: 6rem;
        margin-left: 12rem;
        @media (max-width: $r_desk_1280) {
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1120) {
            margin-left: 4rem;
        }
        @media (max-width: $r_tab) {
            max-width: 100%;
            margin-left: 0;
            margin-top: 3rem;
        }
    }
    &__link {
        margin-top: 6rem;
        @media (max-width: $r_tab) {
            text-align: center;
        }
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        @media (max-width: $r_desk_1120) {
            padding-top: 3rem;
            padding-bottom: 9rem;
        }
    }
    &__cover {
        flex-basis: 758px;
        height: 758px;
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        @media (max-width: $r_desk_1350){
            flex-basis: 650px;
            height: 650px;
        }
        @media (max-width: $r_desk_hd){
            flex-basis: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_1120){
            border: 1px solid transparent;
            height: auto;
            flex-basis: calc(100% - 395px);
        }
        @media (max-width: $r_tab) {
            display: none;
        }
    }
    &__line {
        width: 656px;
        height: 656px;
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: $r_desk_1350){
            width: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_hd){
            border: 1px solid transparent;
            width: auto;
            height: auto;
        }
    }
    &__image {
        width: 92%;
        border-radius: 100%;
        animation: shadow 4s linear infinite;
    }
    &__image-m {
        display: none;
        animation: shadow 4s linear infinite;
        border-radius: 100%;
        @media (max-width: $r_tab){
            display: block;
            max-width: 300px;
            margin: 3rem auto 0;
        }
    }
    &__text {
        padding-top: 4rem;
        @media (max-width: $r_desk_1120) {
            flex-basis: 395px;
        }
        @media (max-width: $r_tab) {
            flex-basis: 100%;
            padding-top: 0;
        }
    }
    &__btn {
        border: none;
        padding: 0;
        background-color: transparent;
        position: absolute;
        color: $green;
        text-align: left;
        cursor: pointer;
        &:hover {
            &::before {
                background-color: $orange;
                box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
            }
        }
        &::before {
            content: '';
            background-color: $green;
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            position: absolute;
            transition:.3s;
        }
        &_1 {
            top: 50px;
            left: 68px;
            @media (max-width: $r_desk_1350){
                left: 27px;
            }
            @media (max-width: $r_desk_hd){
                left: 15px;
            }
            @media (max-width: $r_desk_1120){
                display: none;
            }
            &::before {
                bottom: 9px;
                left: 84px;
            }
        }
        &_2 {
            top: 200px;
            right: 2px;
            @media (max-width: $r_desk_1350){
                top: 115px;
            }
            @media (max-width: $r_desk_hd){
                top: 72px;
                right: -7px;
            }
            @media (max-width: $r_desk_1120){
                display: none;
            }
            &::before {
                top: 10px;
                left: -26px;
            }
        }
        &_3 {
            bottom: -43px;
            right: 237px;
            @media (max-width: $r_desk_1350){
                bottom: -57px;
            }
            @media (max-width: $r_desk_1120){
                display: none;
            }
            &::before {
                top: -28px;
                left: 13px;
            }
        }
    }
    &__food {
        display: block;
        color: rgba($green, .8);
    }
    &__tomato {
        width: 110px;
        position: absolute;
        bottom: 20px;
        right: 107px;
        z-index: -1;
    }
    &__avocado {
        width: 178px;
        position: absolute;
        top: 46px;
        right: -14px;
        z-index: -1;
        @media (max-width: $r_desk_full_1750) {
            width: 150px;
            top: 92px;
        }
    }
    &__beans {
        width: 105px;
        position: absolute;
        bottom: 168px;
        left: 0;
        z-index: -1;
    }
    &__cucumber {
        width: 85px;
        position: absolute;
        top: 0;
        left: 690px;
        z-index: -1;
    }
    &__pepper {
        width: 86px;
        position: absolute;
        top: 397px;
        left: 38px;
        z-index: -1;
        @media (max-width: $r_desk_full_1750) {
            display: none;
        }
    }
}

.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    @media (max-width: $r_desk_1280) {
        font-size: 7rem;
    }
    @media (max-width: $r_desk_1120){
        font-size: 6rem;
    }
    @media (max-width: $r_tab) {
        text-align: center;
    }
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}

.description {
    margin: 0;
    line-height: 1.5;
    @media (max-width: $r_tab) {
        text-align: center;
    }
    &_size-s {
        font-size: 1.8rem;
        @media (max-width: $r_desk_1280) {
            font-size: 1.6rem;
        }
    }
    &_size-m {
        font-size: 2.4rem;
        @media (max-width: $r_desk_1280) {
            font-size: 2.2rem;
        }
    }
}

.link {
    color: $white;
    letter-spacing: .13rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 2.4rem 4.3rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    border-radius: 3.8rem;
    display: inline-block;
    border: none;
    cursor: pointer;
    transition:.3s;
    @media (max-width: $r_desk_1280) {
        font-size: 1.4rem;
        padding: 2rem 3.4rem;
        box-shadow: 0px 1rem 1.1rem .17rem rgba(207, 92, 13, .15);
    }
    &:hover {
        background-color: $dark-orange;
    }
    &_min {
        font-size: 1.4rem;
        padding: 2rem 3.4rem;
        box-shadow: 0px 1rem 1.1rem .17rem rgba(207, 92, 13, .15);
    }
}

.offer {
    padding-top: 5rem;
    @media (max-width: $r_tab) {
        padding-top: 0;
    }
    &__text {
        margin-top: 6rem;
        max-width: 700px;
    }
}

.slider {
    overflow: hidden;
    padding-top: 9.4rem;
    @media (max-width: $r_tab) {
        max-width: 450px;
        margin: 0 auto;
        padding-bottom: 6rem;
    }
}

.swiper {
    overflow: initial;
    &-slide {
        border: 1px solid rgba($green, .4);
        border-radius: 2rem;
        padding: 3rem 3.7rem 3.8rem;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;
        box-shadow: 0 0 0 2px rgba($green, 0) inset;
        overflow: hidden;
        transition: .2s;
        @media (max-width: $r_tab) {
            height: 580px;
        }
        &_white {
            height: 520px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-size: contain;
            padding: 4rem 3.7rem;
            @media (max-width: $r_desk_hd) {
                height: 450px;
            }
            &:hover {
                .swiper-slide__hover {
                    height: 233px;
                    opacity: 1;
                }
                &::after {
                    content: '';
                    background-color: rgba($white, .55);
                    border-radius: 2rem;
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    z-index: -1;
                }
            }
        }
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, .4) inset;
        }
        &_milk {
            background-image: url(../images/milk.png);
        }
        &_pasta {
            background-image: url(../images/pasta.png);
        }
        &_steaks {
            background-image: url(../images/steaks.png);
        }
        &__title {
            font-family: $font-cormorant;
            font-size: 3rem;
            color: $green;
            margin-bottom: 0;
            min-height: 7rem;
            @media (max-width: $r_tab) {
                text-align: center;
                margin-top: 0;
            }
        }
        &__description {
            font-size: 1.8rem;
            color: rgba($green, .7);
            margin-top: 1rem;
            margin-bottom: 0;
            min-height: 82px;
            max-width: 300px;
            line-height: 1.5;
            @media (max-width: $r_tab) {
                text-align: center;
                max-width: 100%;
            }
        }
        &__price {
            font-size: 2.4rem;
            margin-top: 1rem;
            margin-bottom: 3rem;
            @media (max-width: $r_tab) {
                text-align: center;
            }
        }
        &__hover {
            height: 0;
            opacity: 0;
            transition: .2s;
        }
        &__text {
            color: rgba($green, .7);
            line-height: 1.5;
            margin-top: 2.5rem;
            margin-bottom: 3.4rem;
            max-width: 263px;
        }
        &__link {
            text-transform: uppercase;
            font-weight: 500;
            color: $green;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 2rem;
            letter-spacing: .1rem;
            opacity: .8;
            transition: .2s;
            &:hover {
                opacity: 1;
            }
            &::before {
                content: '';
                display: block;
                width: 3rem;
                height: 3rem;
                background-image: url(../images/plus.svg);
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        &__cover {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 322px;
            text-align: center;
            @media (max-width: $r_tab) {
                height: 240px;
            }
        }
        &__image {
            width: 100%;
            max-width: 351px;
            height: 100%;
            object-fit: contain;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: $r_tab) {
                justify-content: center;
            }
        }
    }
    &-pagination {
        display: none;
        @media (max-width: $r_tab) {
            display: block;
        }
    }
    &-button-next, &-button-prev {
        top: -60px;
        @media (max-width: $r_tab) {
            display: none;
        }
        &:hover {
            &::after {
                color: rgba($green, 1);
            }
        }
        &::after {
            color: rgba($green, .4);
            font-size: 20px;
            transition: .2s;
        }
    }
    &-button-next {
        right: -8px;
    }
    &-button-prev {
        left: initial;
        right: 72px;
    }
}

.swiper-horizontal > .swiper-pagination-bullets {
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
}

.swiper-pagination-bullet-active {
    background-color: $orange;
    border: 1px solid $orange;
}

.counter {
    display: flex;
    @media (max-width: $r_desk_1170) {
        display: none;
    }
    &__btn {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border: 1px solid $green;
        background-color: transparent;
        padding: 0;
        background-position: center center;
        border-radius: 100%;
        @media (max-width: $r_desk_1350) {
            width: 40px;
            height: 40px;
        }
        &_min {
            width: 40px;
            height: 40px;
        }
    }
    &__minus, &__plus {
        background-size: 20px 11px;
        background-repeat: no-repeat;
        opacity: 1;
        transition: .2s;
    }
    &__minus, &__plus {
        &:hover {
            opacity: .4;
        }
    }
    &__minus {
        pointer-events: none;
        opacity: .4;
        background-image: url(../images/minus-counter.svg);
    }
    &__plus {
        background-image: url(../images/plus-counter.svg);
    }
    &__input {
        text-align: center;
        font-size: 2.4rem;
        width: 46px;
        border: none;
        padding: 0;
        @media (max-width: $r_desk_1350) {
            width: 33px;
        }
        &_min {
            width: 33px;
        }
    }
}

.about {
    padding-top: 18rem;
    @media (max-width: $r_tab) {
        padding-top: 9rem;
    }
    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 7rem;
        @media (max-width: $r_tab) {
            display: block;
            margin-top: 4rem;
        }
    }
    &__text {
        margin-left: 12rem;
        flex-basis: 620px;
        @media (max-width: $r_desk_1280) {
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1120) {
            margin-left: 4rem;
            flex-basis: 395px;
        }
        @media (max-width: $r_tab) {
            margin-left: 0;
        }
    }
    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding-left: 0;
        gap: 9rem;
        font-family: $font-cormorant;
        font-weight: 700;
        font-style: italic;
        font-size: 3rem;
        @media (max-width: $r_desk_hd) {
            gap: 3rem;
        }
        @media (max-width: $r_tab_900) {
            font-size: 2.4rem;
            gap: 1.5rem;
        }
        @media (max-width: $r_tab) {
            gap: 4rem;
            justify-content: center;
            margin-top: 4rem;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &::before {
            content: '';
            width: 84px;
            height: 84px;
            border: 1px solid rgba($green, .4);
            border-radius: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            margin-bottom: 1.5rem;
            @media (max-width: $r_tab_900) {
                width: 64px;
                height: 64px;
            }
        }
        &_icon1 {
            &::before {
                background-image: url(../images/about-icon-1.svg);
                background-size: 44px 41px;
                @media (max-width: $r_tab_900) {
                    background-size: 34px 31px;
                }
            }
        }
        &_icon2 {
            &::before {
                background-image: url(../images/about-icon-2.svg);
                background-size: 40px 40px;
                @media (max-width: $r_tab_900) {
                    background-size: 30px 30px;
                }
            }
        }
        &_icon3 {
            &::before {
                background-image: url(../images/about-icon-3.svg);
                background-size: 45px 39px;
                @media (max-width: $r_tab_900) {
                    background-size: 35px 29px;
                }
            }
        }
    }
}

.trends {
    padding-top: 20rem;
    @media (max-width: $r_tab) {
        padding-top: 10rem;
    }
    &__text {
        margin-top: 4rem;
    }
}

.catalog {
    padding-top: 20rem;
    @media (max-width: $r_tab) {
        padding-top: 10rem;
    }
    &__list-box {
        @media (max-width: $r_tab) {
            overflow: hidden;
            max-height: 18.2rem;
        }
    }
    &__list {
        margin-top: 8.5rem;
        margin-bottom: 5rem;
    }
    &__btn {
        margin: 6rem auto 0;
        border: none;
        background-color: transparent;
        text-transform: uppercase;
        color: $green;
        display: flex;
        align-items: center;
        gap: 2rem;
        letter-spacing: .1rem;
        opacity: .8;
        cursor: pointer;
        transition: .2s;
        &:hover {
            opacity: 1;
        }
        &::before {
            content: '';
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            background-image: url(../images/refresh.svg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

.category {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    @media (max-width: $r_tab) {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 4rem;
    }
    &__item {
        min-width: 230px;
        text-align: center;
    }
    &__link {
        padding: 2.4rem 3rem;
        border: 1px solid rgba($green, .5);
        color: rgba($green, .5);
        font-size: 1.8rem;
        text-decoration: none;
        border-radius: 4rem;
        display: block;
        transition: .2s;
        &:hover {
            border: 1px solid $orange;
            color: $orange;
        }
        &_active {
            border: 1px solid $orange;
            color: $orange;
        }
    }
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @media (max-width: $r_desk_1440) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $r_desk) {
        grid-template-columns: repeat(2, 1fr);
    }
    &__item {
        border: 1px solid rgba($green, .4);
        border-radius: 2rem;
        padding: 2.7rem 3rem 3.8rem;
        box-sizing: border-box;
        box-shadow: 0 0 0 2px rgba($green, 0) inset;
        transition: .2s;
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, .4) inset;
        }
    }
    &__cover {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 204px;
        text-align: center;
    }
    &__image {
        width: 100%;
        max-width: 351px;
        height: 100%;
        object-fit: contain;
    }
    &__title {
        font-family: $font-cormorant;
        font-size: 3rem;
        color: $green;
        margin-top: 1.7rem;
        margin-bottom: 0;
        min-height: 7rem;
        @media (max-width: $r_tab) {
            text-align: center;
        }
    }
    &__description {
        font-size: 1.6rem;
        color: rgba($green, .7);
        margin-top: 1.8rem;
        margin-bottom: 0;
        min-height: 61px;
        max-width: 300px;
        line-height: 1.5;
        @media (max-width: $r_tab) {
            text-align: center;
        }
    }
    &__price {
        font-size: 2.4rem;
        margin-top: 0;
        margin-bottom: 3rem;
        @media (max-width: $r_tab) {
            text-align: center;
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $r_tab) {
            justify-content: center;
        }
    }
}

.delivery {
    padding-top: 16rem;
    @media (max-width: $r_tab) {
        padding-top: 8rem;
    }
    &-box {
        display: flex;
        font-size: 1.8rem;
        line-height: 1.5;
        margin-top: 5.6rem;
        margin-left: 12rem;
        gap: 12%;
        @media (max-width: $r_tab) {
            display: block;
            margin-left: 0;
            text-align: center;
        }
    }
    &__text {
        flex-basis: 44%;
    }
    &__description {
        margin-bottom: 2.6rem;
    }
    &__pay {
        flex-basis: 37%;
    }
    &__link {
        text-decoration: none;
        color: $green;
        position: relative;
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #858881;
            display: block;
            position: absolute;
            left: 0;
            bottom: 3px;
        }
    }
    &__sale {
        color: $orange;
    }
    &__list {
        display: flex;
        gap: 3rem;
        list-style: none;
        margin-top: 4.3rem;
        padding-left: 0;
        @media (max-width: $r_tab) {
            justify-content: center;
        }
    }
    &__item {
        height: 32px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        opacity: .4;
        transform: scale(1);
        transition: .2s;
        &:hover {
            opacity: 1;
            transform: scale(1.05);
        }
    }
    &__link {
        text-decoration: none;
    }
    &__mc {
        width: 53px;
        background-image: url(../images/pay/mc.png);
    }
    &__visa {
        width: 74px;
        background-image: url(../images/pay/visa.png);
    }
    &__pp {
        width: 87px;
        background-image: url(../images/pay/pp.png);
    }
}

.contact {
    padding-top: 20rem;
    padding-bottom: 16rem;
    @media (max-width: $r_tab) {
        padding-top: 10rem;
        padding-bottom: 8rem;
    }
    &-box {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        @media (max-width: $r_tab) {
            display: block;
        }
        &__text {
            max-width: 400px;
            flex-grow: 1;
            margin-top: 6rem;
            margin-left: 12rem;
            @media (max-width: $r_tab_900) {
                margin-left: 0;
            }
            @media (max-width: $r_tab) {
                max-width: 100%;
                margin-left: 0;
            }
        }
        &__list {
            padding-left: 0;
            margin-top: 6rem;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2.8rem;
            @media (max-width: $r_tab) {
                align-items: center;
                flex-direction: row;
            }
        }
        &__tel, &__mail {
            text-decoration: none;
            font-size: 2.4rem;
            font-weight: 500;
            color: $green;
            display: flex;
            align-items: center;
            gap: 2rem;
            &::before {
                content: '';
                display: block;
                width: 2.5rem;
                height: 2.5rem;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        &__tel {
            &::before {
                background-image: url(../images/phone.svg);
            }
        }
        &__mail {
            &::before {
                background-image: url(../images/mail.svg);
            }
        }
        &__form {
            flex-basis: 589px;
        }
    }
}

.card {
    border: 2px solid rgba($green, .4);
    padding: 3.2rem 5.8rem 4rem;
    border-radius: 2rem;
    @media (max-width: $r_tab_900) {
        padding: 2.2rem 2.8rem 2rem;
    }
    @media (max-width: $r_tab) {
        margin-top: 6rem;
    }
    &__title {
        font-size: 3rem;
        font-family: $font-cormorant;
        margin-top: 0;
        @media (max-width: $r_tab) {
            text-align: center;
        }
    }
    &__label {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        display: block;
        margin-left: .6rem;
    }
    &__input {
        border: 1px solid rgba($green, .4);
        border-radius: 2rem;
        padding: 2.2rem 3rem;
        margin-bottom: 2.8rem;
        display: block;
        width: 100%;
        box-sizing: border-box;
        &:focus {
            border: 1px solid rgba($green, 1);
            outline: none;
        }
    }
    &__check {
        font-size: 1.2rem;
        color: rgba($green, .6);
        line-height: 1.5;
        max-width: 360px;
        margin-top: 1.6rem;
        margin-bottom: 0;
        @media (max-width: $r_tab) {
            text-align: center;
            max-width: 100%;
        }
    }
    &__link {
        margin-top: 1.2rem;
        @media (max-width: $r_tab) {
            margin: 1.2rem auto 0;
            display: block;
        }
    }
    &__docs {
        color: rgba($green, .6);
        text-decoration: none;
        border-bottom: 1px solid #ecedec;
    }
}

footer {
    padding-bottom: 8rem;
    @media (max-width: $r_tab) {
        padding-bottom: 4rem;
    }
}

.footer-hr {
    display: block;
    border: none;
    height: 1px;
    background-image: url(../images/hr.png);
    margin: 0;
}

.footer {
    &__box {
        display: flex;
        justify-content: space-between;
        margin-top: 8rem;
        font-size: 1.8rem;
        @media (max-width: $r_desk_1120) {
            display: block;
        }
        @media (max-width: $r_tab) {
            margin-top: 4rem;
        }
    }
    &__info {
        display: flex;
        justify-content: space-between;
        flex-basis: 66.5%;
        @media (max-width: $r_tab) {
            flex-direction: column;
        }
    }
    &__list {
        list-style: none;
        padding-left: 0;
        margin: 0;
        @media (max-width: $r_tab) {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 4rem;
            &:nth-child(2) {
                flex-direction: column;
                gap: 3rem;
            }
        }
    }
    &__item {
        margin-bottom: 2.6rem;
        &:last-child {
            margin-bottom: 0;
        }
        @media (max-width: $r_tab) {
            margin-bottom: 0;
        }
    }
    &__link {
        color: $green;
        text-decoration: none;
        transition: .2s;
        &:hover {
            color: $orange;
        }
    }
    &__contact {
        display: flex;
        flex-direction: column;
        @media (max-width: $r_tab) {
            text-align: center;
        }
    }
    &__tel {
        font-size: 2.7rem;
        display: block;
        margin-bottom: 3rem;
    }
    &__text {
        color: rgba($green, .6);
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;
        margin-top: 4rem;
        @media (max-width: $r_tab) {
            flex-direction: column;
            text-align: center;
        }
    }
    &__author {
        color: rgba($green, .6);
        text-decoration: none;
        transition: .2s;
        &:hover {
            color: rgba($green, 1);
        }
    }
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin-top: 3rem;
    margin-bottom: 0;
    @media (max-width: $r_tab) {
        justify-content: space-around;
    }
    &__link {
        width: 4.6rem;
        height: 4.6rem;
        display: block;
        border: 2px solid $green;
        border-radius: 100%;
        opacity: .8;
        background-repeat: no-repeat;
        background-position: center;
        transition: .2s;
        &:hover {
            opacity: 1;
        }
    }
    &__vk {
        background-image: url(../images/social/vk.svg);
        background-size: 2.3rem;
    }
    &__inst {
        background-image: url(../images/social/inst.svg);
        background-size: 1.8rem;
    }
    &__fb {
        background-image: url(../images/social/fb.svg);
        background-size: 1.8rem;
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 rgba($green, 0);
    }
    50% {
        box-shadow: 20px 20px 33px 0 rgba($green, .5);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($green, 0);
    }
}